// Upload this config to Heroku using the following syntax:
//   heroku login
//   heroku config:set --app limeat CONF_VAR=CONF_VALUE
//   heroku dyno:restart --app limeat

// Are we running on Heroku (true) Or locally (false)?
HEROKU=false

// DB mode (it must be "mongodb" - sqlite support has been removed!)
DB_MODE=mongodb

// Mongo DB options
DB_MONGO_URI="mongodb+srv://<db_user>:<db_user_pass>@kcaldb.n0c9e.mongodb.net/test"
//DB_MONGO_DBNAME="KCalcDB"      // If not set, the default is "KCalcDB-Test" (useful for running the server locally)

// X.509
//DB_MONGO_URI="mongodb+srv://kcaldb.n0c9e.mongodb.net/myFirstDatabase?authSource=%24external"
// Supported auth modes: X.509
//DB_MONGO_AUTH_X_509_CERTFILE="X509-cert-2842929191582904142.pem"
