/* partial CSS reset*/
body * {
    padding: 0;
}

hr {
    margin: 20px 0 4px 0;
}

body {
    margin: auto;
    box-sizing: content-box;
}

#mainDiv {
    padding: 0 4em 5em 4em;
    margin: 0em;
    background: #e9e9e9;
}

/* Style the header */
.header1,.header2,.header3 {
  padding: 8px 12px;
  box-sizing: border-box;
}

.header1 {
  background: hsl(0, 0%, 74%);
  z-index: 9;
}

.header2 {
  background: hsl(0, 0%, 69%);
  z-index: 10;
}

.header3 {
  padding: 8px 2em;
  z-index: 11;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky1,.sticky2,.sticky3
{
  position: fixed;
  width: 100%;
}

.sticky1 {
  top: 0;
}
.sticky2 {
  top: 1em;
}
.sticky3 {
  top: 4em;
}

h1 {
    font-weight: 700;
}

#searchTools
{
    margin: 0.5em 0;
    padding: 0.3em;
    border: 3px solid hsla(78, 75%, 35%, 0);
}

#searchTools.active
{
    border: 3px solid hsla(78, 75%, 35%, 0.95);
}

#tableOut
{
    width: 100%;
    border: 3px solid rgba(110, 110, 110, 0.884);
    font-size: 20px;
    line-height: 22px;
    resize: both;
    transition: all .8s ease;
}

#tableOut.focusedMode
{
    height: 8em;
    overflow-y: scroll;
    resize: both;
    border-top: 3px dashed gray;
    border-bottom: 3px dashed gray;
    transition: all 0.8s ease;
}

#tableOut tr {
    cursor: crosshair;
    border-radius: 2px;
}

#tableOut tr:hover {
    outline: 3px solid rgba(97, 167, 65, 0.575);
    background-color: rgba(254, 255, 191, 0.226);
}

#tableOut tr.selectedRow {
    outline: 3px solid hsla(78, 75%, 35%, 0.671);
    background-color: hsla(78, 50%, 60%, 0.45);
    box-shadow: 0 0 2px 3px 0px gray;
}

#unused {
    border: 3px solid rgba(255, 178, 35, 0.966);
    background-color: rgba(252, 214, 164, 0.76);
}

td, th {
    padding: 2px;
    border: 1px solid rgba(110, 110, 110, 0.884);
}

td {
    padding: 2px 6px !important;
}

th {
    padding: 12px 6px !important;
    text-decoration: underline;
}

#outTabModes *, #txtMealsModes *, #devModeLabel, #outTabFocusedMode, #outTabFocusedModeLabel, #devModeOutputsLabel, #optScaleTypeLabel, #minimalWeightLabel, #minimalWeightCorrectionLabel, #scaleOpts {
    display: inline-block !important;
}

.noMargin {
    margin: 0;
}

.trSep {
    border: 2px solid rgba(77, 77, 77, 0.575);
}

.preReg {
    white-space: pre;
    font-family: 'Inconsolata', monospace;
    font-weight: 400
}

.preBold {
    white-space: pre;
    font-family: 'Inconsolata', monospace;
    font-weight: 800
}

.kcalBg {
    background: #0091ff36;
}

.kcalSepBg {
    background: #0187ee9d;
}

.timeBg {
    background: #ffc40027;
}

.timeSepBg {
    background: #dfab0054;
}

.foodSepBg {
    background: #a7a7a7a4;
}

.biggerText {
    font-size: 1.2em;
}

#dSettingsHeader,
#dKCals {
    display: flex;
    align-items: center;
    align-content: stretch;
}

#dSettingsHeader {
    margin: 0 !important;
}

#dSettingsHeader *:not(input) {
    margin-bottom: 0.2em;
}

#lUser,
#lDate {
    margin-right: 0.5em;
}

#tUser,
#tDate {
    margin-bottom: 0px;
    margin-right: 0.2em;
}

#tUser {
    margin-right: 1em;
}

#dDate, #divMealSelection {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#divDateUpDown, #divMealUpDown {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

#divMealSelection * {
    color:rgb(47, 121, 13);
}

#divMealSelection button {
    background:hsla(78, 44%, 45%, 0.575);
}

#divDateUpDown button {
    background: rgba(228, 210, 131, 0.747);
}

#btDateUp,
#btDateDown,
#btPrevMeal,
#btNextMeal {
    width: 24px;
    height: 18px;
    margin: 0;
    line-height: 0;
}

.btRefreshParent {
    display: block;
    margin: auto 0.1em auto auto;
    width: calc(1.5em + 12px);
    height: calc(1.5em + 16px);
    padding: 0;
}

.btRefresh {
    display: flex;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid transparent;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.btRefreshBg {
    color: transparent;
    background-color: rgba(228, 210, 131, 0.747);
}

.btRefreshContent {
    color: black !important;
    height: 1.45em;
    background-color: transparent;
}

#btSave, #btApplySettings, #btSearch {
    min-width: 6em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 14;
}

/* Disable skeleton.css and normalize.css effects */
.btRefresh:hover {
    border: 3px solid rgba(0,0,0, 0.2);
}
.btRefresh:focus {
    border: 3px solid transparent;
}
.btRefreshBg:hover, .btRefreshBg:focus {
    color: transparent;
}

#btSave {
     background-color: rgba(228, 210, 131, 0.747);
}

#btApplySettings {
    background-color: hsl(37, 65%, 62%);
}

#btPrevMeal:disabled,
#btNextMeal:disabled {
    background-color: lightGray;
    color: darkgray;
}

#btSave.unsaved {
    background-color: rgba(214, 164, 57, 0.637);
}

#btSave:active {
    background-color: rgba(179, 137, 48, 0.726);
}

#lSaveErrorMsg {
    color: appleRed;
    font-weight: bold;
    text-align: center;
}

#btAddMeal {
    font-size: x-large;
    border-radius: 20%;
    padding: 0 .6vw;
    min-width: 1.5em;
    color: black;
    background-color: hsla(78, 44%, 45%, 0.575);
}

#btAddMeal:active {
    background-color: hsla(78, 75%, 28%, 0.733);
}

#dKCals > * [type^="button"] {
    padding: 0 !important;
    margin: 0 !important;
}

#lbCurrentAllKCal,
#lbCurrentLineKCal,
#lbCurrentFoodPartKCal
{
    white-space: nowrap;
}

#lbCurrentAllKCal
{
    font-size: 1.5em;
    padding: 0 0.5em 0 0 !important;
}

#lbCurrentLineKCal,
#lbCurrentFoodPartKCal
{
    padding: 0 0.5em !important;
    text-align: right;
    min-width: 2.5em;
    margin: 0;
    font-size: 1.1em;
}

#txtMealsAboveDock
{
    margin-top: 0.5em;
}

#txtMealsDiary {
    resize:both;
    /*width: 100%;
    height:20%;*/
    transition: all .8s ease;
}

#txtMealsDiary.focusedMode
{
    height: 6em;
    overflow-y: scroll;
    resize: both;
    border-top: 3px dashed gray;
    border-bottom: 3px dashed gray;
    transition: all .8s ease;
}

#optsDev {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='528' height='140' preserveAspectRatio='none' viewBox='0 0 528 140'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1097%26quot%3b)' fill='none'%3e%3crect width='528' height='140' x='0' y='0' fill='rgba(255%2c 165%2c 18%2c 0.31)'%3e%3c/rect%3e%3cg mask='url(%26quot%3b%23SvgjsMask1098%26quot%3b)'%3e%3cpath d='M162.5 62.5L162.5 12.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M156.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM156.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M62.5 62.5L12.5 12.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M56.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM6.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M287.5 87.5L237.5 137.5L12.5 137.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M281.25 87.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM6.25 137.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M512.5 112.5L362.5 112.5L337.5 137.5L262.5 137.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M506.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM256.25 137.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M187.5 12.5L187.5 112.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M181.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM181.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M162.5 112.5L162.5 87.5L87.5 12.5L37.5 12.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M156.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM31.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M537.5 87.5L537.5 12.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M531.25 87.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM531.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M312.5 12.5L212.5 12.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M306.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M112.5 87.5L62.5 37.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M106.25 87.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM56.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M437.5 12.5L337.5 112.5L287.5 112.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M431.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM281.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M537.5 112.5L512.5 137.5L362.5 137.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M531.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM356.25 137.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M437.5 62.5L512.5 62.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M431.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM506.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M87.5 112.5L12.5 112.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M81.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM6.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M362.5 12.5L337.5 12.5L237.5 112.5L212.5 112.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M356.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M362.5 37.5L387.5 37.5L412.5 12.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M356.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM406.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M262.5 62.5L212.5 62.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M256.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M287.5 37.5L212.5 37.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M281.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M12.5 37.5L62.5 87.5L87.5 87.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M6.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM81.25 87.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M487.5 37.5L437.5 37.5' stroke-width='4.17' stroke='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3cpath d='M481.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM431.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(195%2c 143%2c 58%2c 0.23)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1097'%3e%3crect width='528' height='140' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cmask id='SvgjsMask1098'%3e%3crect width='528' height='140' fill='white'%3e%3c/rect%3e%3cpath d='M159.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM159.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M59.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM9.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M284.37 87.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM9.37 137.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M509.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM259.37 137.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M184.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM184.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M159.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM34.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M534.37 87.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM534.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M309.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M109.37 87.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM59.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M434.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM284.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M534.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM359.37 137.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M434.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM509.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M84.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM9.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M359.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M359.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM409.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M259.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M284.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M9.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM84.37 87.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M484.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM434.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    border: rgba(255, 165, 18, 0.31) 4px solid;
    box-shadow: #0005 0 1px 3px;
    border-radius: 0.3em;
    padding: 8px;
}

.shareIconImg {
    position: absolute;
    z-index: 5;
    background-image: url('share_icon.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -50px;
}

/* animated button (like material UI) */
.btn {
    box-shadow: 0 2px #0008;
    margin-bottom: 6px;
}

.btn:active {
    box-shadow: 0 0px #000b;
    transform: translateY(3px);
}

.btn_light:active {
    transform: translateY(1px);
    background: #0003;
}